In [1]:
a=5
a

5

In [2]:
print(a)

5

In [3]:
print(type(a))

<class 'int'>

In [4]:
a=5
b=2
su=a+b
print(su)

7

In [5]:
print(2+5)

7

In [6]:
2+5

7

In [7]:
a=5
b=2
print(a+b)

7

In [8]:
a="hello world"
print(a)

hello world

In [9]:
a=int(input("enter your first number: "))
b=int(input("enter the second number "))
su=a+b
print(su)

enter your first number: 6
enter the second number 8
14

In [10]:
print("list:")
b=[1,2,3,"hello","hey"]
print(len(b))
print(b[0])
b[0]=4
print(b[0])

list:
5
1
4

In [11]:
print("tuple:")
a=(1,2,4,"hello")
print(a)
b=a+("hey",3)
print(b)

tuple:
(1, 2, 4, 'hello')
(1, 2, 4, 'hello', 'hey', 3)

In [12]:
print("set:")
s={1,2,3,1,"hello",4.3}
print(s)

set:
{1, 2, 3, 'hello', 4.3}

In [13]:
print("using of if...else check a number is positive or negative")
a=int(input("enter the value of a:"))
if a<0:
    print("negative")
else:
    print("positive")

using of if...else check a number is positive or negative
enter the value of a:7
positive

In [14]:
print("use if,elif,else check whether a number is positive,negative or 0")
a=int(input("enter the value of a:"))
if a<0:
    print("negative")
elif a>0:
    print("positive")
else:
    print("0")

use if,elif,else check whether a number is positive,negative or 0
enter the value of a:3
positive

In [15]:
print("dictionary")
a={"name":"hanna",'place':'kannur','location':'calicut','qualification':'bsc computer'}
print(a)

dictionary
{'name': 'hanna', 'place': 'kannur', 'location': 'calicut', 'qualification': 'bsc computer'}

In [16]:
print("to check whether given number is divisible by 5")
a=int(input(("enter the value of a:")))
if a%5==0:
    print("it is divisible by 5")
else:
    print("not divisible by 5")

to check whether given number is divisible by 5
enter the value of a:34
not divisible by 5

In [17]:
print("discount program")
amount=int(input("enter the amount:"))
if amount>1000:
    amount=amount-10
    print(amount)
else:
    print("total amount is:")
    print(amount)

discount program
enter the amount:4342
4332

In [18]:
print("election program")
age=int(input("enter the age:"))
if age==18:
    print("he/she is eligible to vote")
elif age>=25:
    print("he/she is eligible to vote and can contest election.")
elif age<18:
    print("you are not eligible to vote")
else:
    print("you are eligible to vote")

election program
enter the age:2
you are not eligible to vote

In [19]:
print("prgram to check whether a year is leap year or not")
year=int(input("enter the year:"))
if year%4==0:
    print("it is  leap year")
else:
    print(" it is not a leap year")

prgram to check whether a year is leap year or not
enter the year:2000
it is  leap year

In [20]:
print("to ckeck whether a given number is odd/even")
a=int(input("enter the number:"))
if a%2==0:
    print("the given number is even")
else:
    print("the given number is odd")

to ckeck whether a given number is odd/even
enter the number:43
the given number is odd

In [21]:
print("print the largest among three numbers")
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
    
else:
    print(c)

print the largest among three numbers
enter the first number43
enter the second number34
enter the third number43
43

In [22]:
print("to find the average of subjects .")
s1=int(input("enter the mark of first subject:"))
s2=int(input("enter the mark of second subject:"))
s3=int(input("enter the mark of third subject:"))
s4=int(input("enter the mark of fourth subject:"))
s5=int(input("enter the mark of fifth subject:"))
avg=(s1+s2+s3+s4+s5)/5
print(avg)
if (avg>=90 and avg<=100):
    print("A+")
elif (avg>=80 and avg<90):
    print("A")
elif (avg>=70 and avg<80):
    print("B+")
elif (avg>=60 and avg<70):
    print("B")
elif (avg>=50 and avg<60):
    print("C")
elif (avg>=40 and avg<50):
    print("D")
else:
    print("fail")

to find the average of subjects .
enter the mark of first subject:23
enter the mark of second subject:33
enter the mark of third subject:4
enter the mark of fourth subject:5
enter the mark of fifth subject:43
21.6
fail

In [23]:
print("printing month")
a=int(input("enter the month number:"))
if a==1:
    print("JANUARY")
elif a==2:
    print("FEBRUARY")
elif a==3:
    print("MARCH")
elif a==4:
    print("APRIL")
elif a==5:
    print("MAY")
elif a==6:
    print("JUNE")
elif a==7:
    print("JULY")
elif a==8:
    print("AUGUST")
elif a==9:
    print("SEPTEMBER")
elif a==10:
    print("OCTOBER")
elif a==11:
    print("NOVEMBER")
elif a==12:
    print("DECEMBER")
else:
    print("not a valid month")

printing month
enter the month number:3
MARCH

In [24]:
print("program to read a character and print corresponding VIBGYOR.")
a=input("enter the chracter: ")
if (a=='v' or a=='V'):
    print("VIOLET")
elif (a=='i' or a=='I'):
    print("INDIGO")
elif (a=='b' or a=='B'):
    print("BLUE")
elif (a=='g' or a=='G'):
    print("GREEN")
elif (a=='y' or a=='Y'):
    print("YELLOW")
elif (a=='o' or a=='O'):
    print("ORANGE")
elif (a=='r' or a=='R'):
    print("RED")
else:
    print("invalid!!!enter any charcter from VIBGYOR...")

program to read a character and print corresponding VIBGYOR.
enter the chracter: g
GREEN

In [25]:
print("list functions:add,delete and replace an element")
a=[1,2,'hello','hey']
a.append(3)
a.append('hey')
a.insert(1,8)
print(len(a))
a.remove('hello')
del(a[3])
a[0]='hello'
print(a)
a[0]=3
print(a)

list functions:add,delete and replace an element
7
['hello', 8, 2, 3, 'hey']
[3, 8, 2, 3, 'hey']

In [26]:
print("set operations:using union, intersection , difference and symmetric difference ")
s1=set([1,2,3,4])
s2=set([5,9,3,8])
# s1.union(s2)
s1.intersection(s2)
# s1.difference(s2)
s1.symmetric_difference(s2)

set operations:using union, intersection , difference and symmetric difference

{1, 2, 4, 5, 8, 9}

In [27]:
print("write a program to sum up all elements in the list")
a=[1,4,2]
sum=a[0]+a[1]+a[2]
print(sum)

write a program to sum up all elements in the list
7

In [28]:
print("findind common values from the lists")
a=[1,3,3,7]
s1=set(a)
b=[8,9,1]
s2=set(b)
c=s1.intersection(s2)
print(c)

findind common values from the lists
{1}

In [29]:
print("find the largest number from the list")
a=[1,4,2,8,5,1]
a.sort()
print(a)
print(a[-1])

find the largest number from the list
[1, 1, 2, 4, 5, 8]
8

In [30]:
print("find the smallest number from the list")
a=[1,4,2,8,5,1]
a.sort()
print(a)
print(a[0])

find the smallest number from the list
[1, 1, 2, 4, 5, 8]
1

In [31]:
print("program to copy a list to other")
a=[1,4,2,8,5,1]
b=a.copy()
print(b)

program to copy a list to other
[1, 4, 2, 8, 5, 1]

In [32]:
print("program to append a list to other")
a=[1,4,2,8,5,1]
b=[2,6,3]
c=a+b
print(c)

program to append a list to other
[1, 4, 2, 8, 5, 1, 2, 6, 3]

In [33]:
print("a python program to check whether a list is empty")
a=[1,'hey']
c=len(a)
print(c)
if c==0:
    print("the list is empty")
else:
    print("the list is not empty")

a python program to check whether a list is empty
2
the list is not empty

In [34]:
print("a program to convert a string to a list")
a="hello"
b=list(a)
print(b)

a program to convert a string to a list
['h', 'e', 'l', 'l', 'o']

In [35]:
print("a program to extend a list without append")
a=[1,2,3]
b=[2]
c=a+b
print(c)

a program to extend a list without append
[1, 2, 3, 2]

In [36]:
print("to create a set")
a=set([1,2,7,1])
print(a)

to create a set
{1, 2, 7}

In [37]:
print("to add element in the set")
a={1,3,6,6}
a.add(9)
print(a)

to add element in the set
{1, 3, 6, 9}

In [38]:
print("to remove items from the given set")
a={1,3,4,'hey'}
print(a)
a.remove('hey')
a.remove(1)
print(a)

to remove items from the given set
{3, 1, 'hey', 4}
{3, 4}

In [39]:
print("a python program to do intersection,difference,union")
a={1,3,8,'hey'}
b={5,3,9}
a.intersection(b)
a.union(b)
a.difference(b)

a python program to do intersection,difference,union

{1, 8, 'hey'}

In [40]:
print("a python program to copy the set")
a={1,3,2}
b=a.copy()
print(b)

a python program to copy the set
{1, 2, 3}

In [41]:
print("to remove all the elements from the set")
a={1,8,5}
a.clear()
print(len(a))

to remove all the elements from the set
0

In [42]:
print("to find the length of set")
a={1,4,2,'hey','hello'}
print(len(a))

to find the length of set
5

In [43]:
print("a program to check it has common elen=ments /not")
a={2,8,6}
b={9,2,8,5}
c=a.intersection(b)
d=len(c)
print(d)
if d==0:
    print("it has no common elements")
else:
    print("it has common elements")

a program to check it has common elen=ments /not
2
it has common elements

In [44]:
print("to create dictionary")
a={'1':'hello','2':'hey','3':'world'}
print(a)
a.clear()
print(a)

to create dictionary
{'1': 'hello', '2': 'hey', '3': 'world'}
{}

In [45]:
print("to check whether a given set is sub set on other set")
a={3,8,9}
b={7}
b.issubset(a)

to check whether a given set is sub set on other set

False

In [46]:
print("to add elements in set")
a={1,2,3}
sum=0
for i in a:
    
    sum=sum+i
print(sum)

to add elements in set
6

In [47]:
print("to add key to the dictionary")
a={'1':'hanna','2':'kannur'}
a['address']='hamd'
print(a)
del a['address']
print(a)

to add key to the dictionary
{'1': 'hanna', '2': 'kannur', 'address': 'hamd'}
{'1': 'hanna', '2': 'kannur'}

In [48]:
print("a program to add all the elements in dictionary")
a={1:'hey',2:'hello',3:'world',4:'address'}
summ=0
# c=a.keys()
# for i in c:
#     sum=sum+i
#     print(sum)
a.keys()
for i in a:
    summ=summ+i
    print(summ)

a program to add all the elements in dictionary
1
3
6
10

In [49]:
print("to multiply all elements in the dictionary")
a={1:'hey',2:'hello',7:'world',4:'hanna',2:'jui'}
mulll=1
a.keys()
for i in a:
    mulll=mulll*i
    print(mulll)

to multiply all elements in the dictionary
1
2
14
56

In [50]:
print("to select odd item from a list")
a=[5,3,3,2,8]
print(a)
for i in a:
    if i%2!=0:
        print(i)
else:
    print('')

to select odd item from a list
[5, 3, 3, 2, 8]
5
3
3

In [51]:
a=[1,2,5,4]
b=int(input("enter the item to search for:  "))
# for i in a:
#     if b==i:
#     print(i)
# else:
#     print('')

enter the item to search for:  1

In [52]:
print("to get unique values from the list")
a=[1,4,4,8]
b=set(a)
print(b)

to get unique values from the list
{8, 1, 4}

In [53]:
print("a python program to calculate the length of the string")
a="hanna"
len(a)

a python program to calculate the length of the string

5

In [54]:
print("a program to count the charcter occurence")
a='heloo world of people oo'
a.count('o')

a program to count the charcter occurence

7

In [55]:
a='hello nice to meet you people hello helloo !!'
print("hello:")
a.count('hello')

hello:

3

In [56]:
a=input("enter the string")
a.lower()
a.upper()

enter the stringfdd

'FDD'

In [57]:
print("program to define a function")
def example():
    print("hai")
example()

program to define a function
hai

In [58]:
print("program to add using function")
def add(a,b):
    return(a+b)
#     print(a+b)
add(5,5)

program to add using function

10

In [59]:
print("a program by using default arg")
def greet(name,wish='hey'):
    print(name)
    print(wish)
greet('hanna')

a program by using default arg
hanna
hey

In [60]:
print("program to print multiplication table of a number")
a=int(input("enter the number to get thhe multiplication table:"))
for i in range (1,11):
    print(a,"*",i,"=",i*a)

program to print multiplication table of a number
enter the number to get thhe multiplication table:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [61]:
def fib(n):
    a = 0
    b = 1
    if n == 1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c = a + b
            a = b
            b = c
            print(c)
fib(3)

0
1
1

In [62]:
print("area of circle")
def area(r):
    print(3.14*r*r)
area(2)

area of circle
12.56

In [63]:
print("volume of cube using function")
def vol(s):
    print(s*s*s)
vol(3)

volume of cube using function
27

In [64]:
print("to find area of rectangle using function:")
def area(l,b):
    print(l*b)
area(4,9)

to find area of rectangle using function:
36

In [65]:
print("program to find the perimeter of the square")
def peri(a):
    a=int(input("enter the side of square: "))
    print(4*a)
peri(2)

program to find the perimeter of the square
enter the side of square: 3
12

In [66]:
print("program to find number of vowels in the string")
str1 = input("Please Enter Your Own String : ")
vowels = 0
 
for i in str1:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u' or i == 'A'
       or i == 'E' or i == 'I' or i == 'O' or i == 'U'):
        vowels = vowels + 1
 
print("Total Number of Vowels in this String = ", vowels)

program to find number of vowels in the string
Please Enter Your Own String : fdfd
Total Number of Vowels in this String =  0

In [67]:
print("program to check whether anumber is prime or not")
a=int(input("enter the number:  "))

program to check whether anumber is prime or not
enter the number:  3

In [69]:
print("sum of digits of number")

sum of digits of number

In [70]:

num = input('Enter the number: ')
i = 0
length = len(num)
if(len(num) % 2 == 0):
    length = len(num) + 1
    
for i in range(length):
   if num[i] != num[-1-i]:
      print(num,'is not a Palindrome')
      break
else:
   print(num,'is a Palindrome')

Enter the number: 67
67 is not a Palindrome

In [71]:
string = input('Enter the string: ')
i=0
for i in range(len(string)):
   if string[i]!=string[-1-i]:
      print(string,'is not a Palindrome')
      break
else:
   print(string,'is a Palindrome')

Enter the string: hdiloo
hdiloo is not a Palindrome

In [72]:
print("Program to check if a number is prime or not")

num =int(input("enter the number"))
flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Program to check if a number is prime or not
enter the number6
6 is not a prime number

In [73]:
n=int(input("Enter number: "))
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
print("Reverse of the number:",rev)

Enter number: 56
Reverse of the number: 65

In [76]:
num=int(input("Enter the number: "))
add=0
while(num>0):
        reminder=num%10
        add=add+reminder
        num=num//10
print(add)

Enter the number: 90
9

In [78]:
print("a program to find the power using")
print(pow(3,3))

a program to find the power using
27

In [81]:
print("program to find the sum and difference of two numbers")
def cal(a,b):
    add=a+b
#     print(add)
    diff=a-b
#     print(diff)
    return add,diff
cal(6,6)

program to find the sum and difference of two numbers

(12, 0)

In [2]:
print("program to find number divisible by another number")
c=int(input("enter the number"))
d=int(input("enter the second number"))
def div(a,b):
    if (a%b==0):
        print(a,"is divisible by",b)
    else:
        print(a,"is not divisible by",b)
div(c,d)

program to find number divisible by another number
enter the number3
enter the second number9
3 is divisible by 9

In [10]:
# program employee
def emp(name,salary=9000):
    print(name)
    print(salary)
emp("lama",6000)

lama
6000

In [16]:
def getstr(str1,str2):
    if(len(str1)>len(str2)):
        print(str1)
    elif(len(str2)>len(str1)):
            print(str2)
    else:
        print(str1)
        print(str2)
getstr('heyo','hel')

heyo

In [19]:
# program to check a number is odd or even
def getnum(n):
    if(n%2==0):
        print(n,'is even')
    else:
        print(n,'is odd number')
getnum(12)

12 is even

In [25]:
# program to find the length of string without using len
str="hello world"
count=0
for i in str:
    count=count+1
    print(count)

1
2
3
4
5
6
7
8
9
10
11

In [54]:
# program to repalce blank with hyphen
r='heloo world people'
r.replace(' ','#')

'heloo#world#people'

In [69]:
# program to find product of two numbers
def product(a,b):
    mul=a*b
    return(mul)
product(2,9)

18

In [1]:
# to count number of characters and words in the string
strr="hey how are you doing are you fine"
char=0
word=1
for i in strr:
    char=char+1
    if(i==" "):
        word=word+1
print("number of characters in the string:  ",char)
print("number of words in the string:  ",word)

number of characters in the string:   34
number of words in the string:   8

In [3]:
# program to count lower case charcters in the string
strr="Hello Hai My NAME is Hanna"
count=0
for i in strr:
    if(i.islower()):
        count=count+1
print(count)

13

In [5]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 54
54 is not an Armstrong number

In [9]:
# program to convert celsius to fahrenheit

def convert(c):
    f=c*33.8
    print("fahrenheit:  ",f)
convert(4)

fahrenheit:   135.2

In [10]:
# program to find the area of triangle
h=int(input("enter the height of triangle"))
b=int(input("enter the base of triangle"))
def tri(x,y):
    area=(b*h)/2
    print("area of triangle is:  ",area)
tri(h,b)

enter the height of triangle3
enter the base of triangle5
area of triangle is:   7.5

In [13]:
# program to find the reminder and quotient of two numbers
a=int(input("enter the number"))
b=int(input("enter the number"))
def qr(x,y):
    reminder=x%y
    qu=x/y
    print("rem:",reminder,"quo:",qu)
qr(a,b)

enter the number10
enter the number100
rem: 10 quo: 0.1

In [14]:
# to find simple interest
def si(prin,rate,time):
    i=prin*rate*time
    print("simple interest:  ",i)
si(56,2,4)

simple interest:   448

In [17]:
# swap two numbers
def swap(a,b):
    tempa=a
    tempb=b
    print(" before swaping: ",a  ,b)
    b=tempa
    a=tempb
    print("after swaping:  ",a   ,b)
swap(2,3)

 before swaping:  2 3
after swaping:   3 2

In [2]:
# program to convert centimeter to inches and feet
def convert(cm):
    f=30.48/cm
    i=0.39*cm
    print(f,i)
convert(38)

0.8021052631578948 14.82

In [27]:
for i in range(1,10):
    if (i%2!=0) or (i%3!=0):
        print(i)

1
2
3
4
5
7
8
9

In [24]:
x=0
for i in range(1,8):
    x+=1/i
    print(x)

1.0
1.5
1.8333333333333333
2.083333333333333
2.283333333333333
2.4499999999999997
2.5928571428571425

In [28]:
# program to print even numbers in list by using list
a=[1,2,3,4,5,6,7,8,9,10]
li=list(filter(lambda y:y%2==0,a))
print(li)

[2, 4, 6, 8, 10]

In [32]:
# program to square all the elements of list using map
a=[1,2,3,4,5,6,7,8,9,10]
li=list(map(lambda y:y**2,a))
print(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
# using map and filter at the same time
a=[1,2,3,4,5,6,7,8,9,10]
li=list(filter(lambda y:y%2==0,a))
print(li)

[2, 4, 6, 8, 10]

In [38]:
# program to filter
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
li=list(filter(lambda y:y%2==0,a))
print(li)
hi=list(map(lambda r:r**2,li))
print(hi)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
li=list(map(lambda y:y**2,a))
print(li)

In [47]:
# using function
def dic():
    a={1:1,2:4,3:9}
    print(a)
dic()

{1: 1, 2: 4, 3: 9}

In [9]:
print("using list")
def li():
    a=[]
    for i in range(1,20):
        i=i**2
        
        
    a.append(i)   
    print(a)
li()

using list
[361]

In [23]:
print("using dictionary")
def li():
    a={}
    for i in range(1,21):
        a[i]=i**2
                
    
    print(a)
li()

using dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [21]:
print("using dictionary")
def li():
    a={}
    for i in range(1,21):
        a[i]=i**2
                
    print(a.keys())
#     print(a)
li()

using dictionary
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [22]:
print("using dictionary")
def li():
    a={}
    for i in range(1,21):
        a[i]=i**2
                
    print(a.values())
#     print(a)
li()

using dictionary
dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])

In [36]:
def tup():
    a=[]
    for i in range(1,21):
        a.append(i**2)
    print(a)
tup()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [44]:
# n=int(input("enter the numberr" )
a=[1,2,3,4,5]
li=list(filter(lambda y:y%3==0,a))
print(li)

[3]